<h1>Editing account</h1>

<%= form_tag account_path(@account), :method => :put do %>
  
  <%= label :account, :account_name, 'Account Name' %>
  <%= text_field :account, 'account_name' %></br>
  
  <%= label :account, :account_type, 'Account Type' %>
  <%= select :account, :account_type,['Asset','Liability','Equity','Expense'] %> </br>
  
  <%= label :account, :total_amount, 'Total Amount' %>
  <%= text_field :account, 'total_amount' %></br>
</br>

  <%= submit_tag 'Update Account Info.' %>
<% end %>

<%= link_to 'Back', accounts_path %>
