<h1>New account</h1>

<%= simple_form_for @account do |f| %>
  <%= f.input :account_number %>
  <div>
    <%= f.label :account_type_id, 'Account type' %>
    <%= f.collection_select(:account_type_id, AccountType.all, :id, :account_type) %>
  </div>
  <%= f.button :submit %>
<% end %>



